/*******************Reset General******************/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: auto;
  background: #000;
  scroll-behavior: smooth;
}
p,
span,
a,
ul,
li,
input,
label {
  font-family: "Roboto", "sans-serif";
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Secular One" "sans-serif";
}
a {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: #ffa600;
}
p {
  font-size: calc(13px + 0.2vw);
}
/************************NAVIGATION***********************/
nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500px;
  transition: height 0.5s ease-in-out;
}
.nav-reseaux {
  margin: 1.5rem 0;
}
.nav-reseaux ul {
  list-style-type: none;
  display: flex;
}
.nav-reseaux ul li {
  margin: 0 1rem;
}
.nav-principal ul {
  list-style-type: none;
  position: absolute;
  width: 100%;
  height: auto;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  opacity: 0;
}
.nav-principal ul li {
  margin: 1rem 0;
}
.nav-principal a {
  font-size: 25px;
  position: relative;
  padding: 0.2rem;
}
.nav-principal a:hover::before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffa600;
  border-radius: 5px;
  transition: width 0.2s ease-in-out;
}
.nav-principal a:hover::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffa600;
  border-radius: 5px;
  transition: width 0.2s ease-in-out;
}
.nav-principal a:hover::before,
.nav-principal a:hover::after {
  width: 100%;
}
nav.active {
  height: 100vh;
}
nav.active ul {
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0.5s;
}
.nav-principal.active .nav-principal {
  display: none;
}
nav.fond-scroll {
  background: #000;
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.2);
  border-bottom: 1 solid #fff;
}
.burger {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  z-index: 5000;
}
.burger-ligne {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: #fff;
  position: absolute;
  transition: width 0.2s ease-in-out, top 0.2s ease-in-out,
    transform 0.2s ease-in-out 0.2s, background 0.2s ease-in-out 0.2s;
}
.burger-ligne:nth-child(1) {
  top: 15px;
}
.burger-ligne:nth-child(2) {
  top: 30px;
}
.burger:hover .burger-ligne:nth-child(1) {
  width: 80%;
}
.burger:hover .burger-ligne:nth-child(2) {
  width: 60%;
}
.burger.active .burger-ligne:nth-child(1) {
  top: 25px;
  transform: rotate(-130deg);
  background: #ffa600;
}
.burger.active .burger-ligne:nth-child(2) {
  top: 25px;
  transform: rotate(130deg);
  background: #ffa600;
}
.burger.active .burger:hover .burger-ligne:nth-child(1),
.burger-ligne:nth-child(2) {
  width: 100%;
}
/************************HEADER***********************/
.header-home {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 80px;
  background: no-repeat center / cover url(./src/fond.jpg);
  padding-left: 1rem;
  background-attachment: fixed;
  -wmso-background-attachment: fixed;
}
.header-home h1 {
  color: #fff;
  font-size: calc(30px + 2.3vw);
  margin-bottom: 1rem;
}
.header-home h1 span {
  color: #ffa600;
  font-size: calc(30px + 5.3vw);
  font-family: "Dancing Script", cursive;
}
.header-home h2 {
  color: #fff;
  margin-bottom: 1rem;
  font-size: calc(20px + 1.3vw);
}
.header-home hr {
  border: none;
  width: 250px;
  height: 2px;
  background: #ffa600;
  margin-bottom: 1rem;
}
.header-home p {
  margin-bottom: 1rem;
  color: #fff;
}
.home-btns {
  width: 100%;
  height: auto;
  margin: 2rem 0;
}
.home-btn {
  border: 1px solid #ffa600;
  padding: 1rem 2rem;
  border-radius: 5px;
  color: #fff;
}
.home-btn:hover {
  color: #fff;
}
.home-btn2 {
  background: #ffa600;
  box-shadow: 0 0 0 0 rgba(173, 226, 226, 0.4);
  transition: box-shadow 0.2s ease-in-out;
}
.home-btn2:hover {
  box-shadow: 0 0 10px 7px rgba(173, 226, 226, 0.4);
}
.home-btn1 {
  box-shadow: 0 0 0 0 rgba(173, 226, 226, 0.4);
  transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;
  margin: 1rem;
}
.home-btn1:hover {
  background: #ffa600;
  box-shadow: 0 0 10px 7px rgba(173, 226, 226, 0.4);
}
@media screen and (min-width: 780px) and (max-width: 1200px) {
  .home-btn {
    padding: 0.8rem 1rem;
  }
}
@media screen and (max-width: 780px) {
  .home-btn {
    padding: 0.5rem 0.8rem;
    font-size: 14px;
  }
  .header-home {
    align-items: center;
    padding-left: 0;
    text-align: center;
  }
}
